h1{
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: aquamarine;
}

p{
    color: rgb(94, 104, 102);
    font-size: 40px;
    text-align: center;

}

#imagem1{
    width: 60%;
}